.selected_actor {
    color: black;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 60%;
}

.selected_actor img {
   height: 60px;
   border-radius: 10px;
}

.selected_actor .close_button {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: gray;
    color: white;
}

.selected_actor:hover .close_button {
    display: inline-block;
}

.logo_credit {
    cursor: auto;
    height: auto;
    font-weight: 300;
    font-size: 10pt;
    font-style: italic;
}

.profile_picture {
    max-height:70px;
    max-width: 200px;
    overflow: hidden;
    border-radius: 25px;
}
