

.banner {
    width: 99%;
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;

    overflow: auto;
    white-space: nowrap;
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .search_widget, .banner .widget {
    position: relative;
    text-align: left;
    vertical-align: middle;
    height: 70px;
    margin: 10px;
}

.banner input {
    margin: 3px;
    margin-top: 10px;
}

.banner .page_title {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.banner .search_input {
    height: 30px;
    width: 160px;
    padding: 3px;
    margin-bottom: 0;
    border-radius: 10px;
    margin-top: 25px;
}

.banner .search_input:placeholder-shown {
    font-style: italic;
 }


 .banner .page_title {
    position: relative;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    font-size: 180%;
    font-weight: 600;
    text-align: center;
    margin-left: 0;
}

.banner .page_subtitle {
    font-size: 11pt;
    font-style: italic;
    font-weight: 400;
    width: 200px;
    margin: 10px;
    margin-left: 10px;
    vertical-align: middle;
}


.banner::-webkit-scrollbar {
    display: none;
  }


.banner .magnifying_glass {
    font-size: 10pt;
    padding: 3px;
}


.banner .search_form {
    width: fit-content;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}

.card_dim_slider {
    width: 100px;
    clear: both;
    margin-left: 30px;
    margin-right: 50px;
}

.banner .credits {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner .movie_tv_switch, .banner .theme_switch {
    text-align: left;
    display: inline-block;

}

.banner .movie_tv_switch input {
   height: 8px;
}

.banner .theme_switch input {
  height: 8px;
}

.banner .gear , .gear_clicked {
    font-size: 400%;
    cursor: pointer;
}

.banner .gear_clicked {
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}


.controls {
    width: 99%;
    border: 1px solid gray;
    background-color: lightgray;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    text-align: center;
}

.controls .controls_content {
    width: 100%;
    height: 100%;
}

.controls  .widget {
    position: relative;
    text-align: left;
    vertical-align: middle;
    margin: 16px;
    display: inline-block;
    font-size:80%;
}

.controls .date_widget {
    border: 0px solid gray;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    margin-left: 10px;
    margin-right: 20px;
    height: 64px;
}

.controls .genres_widget {
    width: 500px;
    text-align: center;
    vertical-align: top;
    overflow-y: auto;
    margin: 10px;
    display: inline-block;

}

.controls .right_controls {
    margin-top: 10px;
    width: 500px;
    display: inline-block;

}

.controls .genres_widget::-webkit-scrollbar {
    display: none;
}

.controls .date_widget hr {
    margin-top: 10px;
}

.controls .menu {
    width: 100%;
    display: flex;
    margin: 20px;
    margin-top: 0;
    align-items: top;
    justify-content: center;
}

.controls .bottom_widgets {
    width: 100%;
    display: flex;
    margin: 20px;
    margin-top: 0;
    align-items: baseline;
    justify-content: center;
}

.controls .resetButton {
    padding: 5px;
    margin: 5px;
    height: 30px;
    font-size: 12pt;
}

.controls .search_options {
    text-align: left;
    display: inline-block;
    margin: 20px;
}

.controls .widget ul {
    cursor: pointer;
    margin-left: 30px;
}

.controls .widget h3 {
    margin-bottom: 5px;
}

.controls .logo {
    height: 24px;
}

.controls .logo2 {
    height: 16px;
}

.sign_in {
    font-size: 100%;
}

.sign_in button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    white-space: normal;
}
