.left,
.center,
.right {
    float: left;
    font-size: 14.6pt;
    width: 30%;
    padding: 10px;
    padding-top: 0;
    background-color: white;
}

.center {
    width: 40%;
    font-size: 12pt;
}

.main_page {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.movie_page {
    position: relative;
    color: black;
    min-width: 1060px;
    overflow-x: auto;
    background-color: white;
}

.search_page {
    padding-bottom: 50px;
    height: 100vh;
    width: 100%;
    overflow: auto;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

.movie_page .card_light .card_text {
    width: 100%;
 }
 
 .movie_page .page_title {
     position: relative;
     padding: 10px;
 
     padding-left: 30px;
     font-size: 180%;
     font-weight: 600;
     text-align: center;
     background-color: lightgray;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }
 
 .movie_page .page_subtitle {
     font-size: 11pt;
     font-style: italic;
     font-weight: 400;
     width: 200px;
     margin: 10px;
     margin-left: 10px;
     vertical-align: middle;
     font-family: Arial;
 }

.movie .page_title {
    float: left;
    width: 100%;
    text-align: left;
}

.movie .close_button {
    float: right;
    vertical-align: middle;
    font-weight: 1;
}

.center .trailers {
    margin: 5px;
    text-align: center;
    width: 100%;
}


.card {
    position: relative;
    /*width: 100%;*/
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(100, 100, 100, 1);
    /*
    display: flex;
    align-items: flex-start;
    */
    font-weight: 200;
    break-inside: avoid-column;
}

.card {
    margin: 10px;
    scrollbar-width: none;
}

.card .person {
    margin-bottom: 5px;
    break-inside: avoid-column;
    max-width: 100%;
}

.card .person_name {
    font-weight: 600;
    max-width: 100%;
    cursor: pointer;
}

.card .movie_title {
    font-weight: 600;
    font-size: 120%;
    text-align: left;
    /*  padding-left: 10px; */
    cursor: pointer;
}

.card hr {
    clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card .star_rating {
    color: orange;
    margin-right: 3px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card .edit_star_rating {
    color: white;
    margin-right: 3px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

.card .person .age {
    margin-left: 2px;
    font-size: 80%;
}

.left .card_text,
.right .card_text,
.search_page .card_text {
    max-width: 50%;
}

.card .card_text {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    font-size: 80%;
}

.card .plot_summary {
    text-align: left;
    margin-bottom: 5px;
}

.card .persons {
    column-count: 2;
    font-size: 90%;
    margin: 0;
    text-align: left;
}

.card .metadata {
    bottom: 3px;
    margin-top: 5px;

    text-align: left;
}

.card .year {
    cursor: pointer;
}

.card .icon {
    margin-left: 7px;
    margin-right: 7px;
}

.card .genres {
    white-space: nowrap;
    cursor: pointer;
}

.card .genres:hover {
    transform: scale(1.1);
}

.card .card_text .person .person_name:hover {
    transform: scale(1.1);
}

.card img {
    position: relative;
    transition: transform 3s;
    z-index: 1;
    cursor: pointer;
}

.card .external_links {
    margin-left: 20px;
    margin-top: 10px;
    color: darkblue;
    text-align: left;
}

.rating_buttons {
    clear: both;
    position: relative;
}

.card label {
    cursor:pointer;
    margin-right: 5px;
    font-size: 120%;
}

.card label input {
    margin-right: 3px;
    margin-bottom: -10px;
}


.center .card hr {
    display: none;
}

.center .card img {
    max-width: calc(100% - 30px);
    margin-bottom: 10px;
}


.center .card .movie_title {
    text-align: center;
    font-size: 150%;
}

.center .card {
    text-align: center;
    border: 1px solid black;
    font-size: 140%;
    padding: 20px;
}

.center .poster {
    width: 100%;
    margin-left: 0;
}

.left .card,
.right .card {
    font-size: 80%;
}

.left .card img,
.right .card img {
    max-width: 100%;
    padding-left: 10px;
    display: inline-block;
}

.left .card img:hover, .right .card img:hover   {
    transform: scale(1.1);
    transition: transform 2s;
    z-index: 101;
}


.search_page .persons {
    margin-top: 10px;
    max-width: 100%;
    overflow: hidden;
    max-height: 180px;
    margin-bottom: 10px;
    padding-left: 4px;
}

.search_page .role {
    display: block;
}

.search_page .plot_summary {
    background-color: rgb(240, 240, 240, 1);
    color: black;
    z-index: 2;
    position: relative;
}


.search_page .card {
    display: inline-block;
}


.search_page .card .metadata {
    position: relative;
    margin-bottom: 10px;
}

.search_page .card .age {
    display: none
}

.search_page .card .movie_title {
    font-size: 180%;
}


.search_page .card_dark .plot_summary {
    display: none;
}


.search_page .card_dark .card_text {
    display: none;
}

.search_page .card_dark img {
   max-height: 100%;
   max-width: 100%;
}

.search_page .card_dark,
.search_page .card_dark_noposter {
    width: 310px;
    height: 440px;
    background-color: black;
    margin: 10px;
    vertical-align: top;
    color: white;
}

/*
.search_page .card_dark_noposter {
    background-color: black;
    color: white;
    overflow: auto;
    height: 440px;
    width: 310px;
}
    */

.search_page .card_dark_noposter img {
    width: 0;
    position: absolute;
}

.search_page .card_dark_noposter .card_text {
    width: 100%;
    background-color: black;
    position: relative;
    max-width: 100%;
}

.search_page .card_dark_noposter::-webkit-scrollbar {
    display: none;
}


.search_page .card_light_noposter {
    color: black;
    background-color: white;
    overflow: auto;
    width: 450px;
    height: 340px;
    margin-right: 3px;
    scrollbar-width: none;
}

.search_page .card_light img {
    max-height: 100%;
    max-width: 100%;
    float: right;
}
.search_page .card_light {
    background-color: white;
    color: black;
    overflow: auto;
    width: 450px;
    height: 340px;
    scrollbar-width: none;
}

.xsearch_page .card_light .card_text {
    margin-right: 5px;
    width: 50%;
}

.search_page .card_light .plot_summary {
    background-color: white;
    color: black;

    z-index: 2;
    position: relative;
}

.search_page .card_light::-webkit-scrollbar {
    display: none;
}


.backdrop {
    width: 100%;
}

.rating_buttons button {
    font-size: 18pt;
}

.rating_buttons span {
    font-size: 18pt;
    margin: 5px;
    padding: 5px;
    background-color: darkblue; 

}

.request_recs {
    margin: 2px;
}

.request_recs button {
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    font-size: 14pt;
    cursor: pointer;
}

.yesno {
    margin-right: 5px;
    cursor: pointer;
}

.card_one {
    width: 900px;
    height: 581px;
    vertical-align: top;
}

.card_one_dark {
    width: 600px;
    height: 581px;
    vertical-align: top;
}

.card_one_dark {
    width: 400px;
    height: 580px;
    vertical-align: top;
    color: white;
}

.card_one img {
    max-width: 100%;
    height: 500px;
    margin-left: 10px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.card_one .poster {
    width: 45%;
    max-height: calc(100% - 40px);
}


.poster {
    display: inline-block;
    max-height: 100%;
    margin-left: 10px;
    vertical-align: top;
}



.left .poster, 
.right .poster, 
.card_one .poster, 
.card_light .poster {
    width: 45%;
}

.card_dark .poster {
    max-width: 100%;
    max-height: 100%;
}

.card_one .card_text {
    width: 45%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 110%;
}

.card_one .card_text .plot_summary {
    background-color: white;
}



.card_one_dark img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
}

.card_one_dark .card_text {
    display: none;
}

.nav_prev_next {
    font-size: 150%;
    cursor: pointer;
}

.center .nav_prev_next, 
.left .nav_prev_next, 
.right .nav_prev_next {
   display: none;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  .search_page {
    font-size: 100%;
  }

  .movie_title:hover {
    transform: scale(1.1);
}